@import "tailwindcss";

:root {
  --primary-background: #ffffff;
  --secondary-background: #000000;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --primary-border: #e5e5e5;
  --secondary-border: #1a1a1a;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: var(--font-poppins);
}

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}





